.myBreadcrumb{
    margin:0;
}
/* .ms-Breadcrumb-item{
    font-size: 14px!important;
    color:rgb(0, 120, 215)!important;
}
.ms-TooltipHost{
    font-size: 14px!important;
    color:rgb(0, 120, 215)!important;
}
.ms-Breadcrumb-chevron{
    font-size: 10px!important;
} */